## Prisma Connection (Disesuaikan Juga)
DATABASE_URL="mysql://root@localhost:3306/db_igrs"

## Credential MySQL
DB_USER=user
DB_NAME=database
DB_PASSWORD=password
DB_PORT=3306

PORT=3000
NODE_ENV=development